<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  

  <div class="field">
    <%= form.label :reservation_id %>
    <%= check_box(Reservation, :reservation, options = {}, checked_value = "1", unchecked_value = "0") %>
  </div>

  <div class="field">
    <%= form.label :book_id %>
    <!--<%= form.text_field :book_id %>-->
    <%= collection_select(:book, :book_id, Book.all, :id, :title, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <!--<%= form.text_field :client_id %>-->
    <%= collection_select(:client, :client_id, Client.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :librarian_id %>
    <!--<%= form.text_field :librarian_id %>-->
    <%= collection_select(:librarian, :librarian_id, Librarian.all, :id, :name, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= render partial: "/home/homecall"%>
